<!DOCTYPE html>
<html lang="sk">
    <head>
        <title>Cukraren zilina - homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="/data/css/mainpage.css" rel="stylesheet">
        <script src="/data/js/mainpage.js"></script>

    </head>
    <body>
    <%- include("parts/nav", {'page': "index"})%> 
        <div id="topImage">
            <h1>Vaša cukráreň a kaviareň v centre žiliny</h1>
        </div>
        <div class="contentPart">
            <img src="/data/img/zmrzlina.jpg" style="float: left" alt="">
            <div class="popis">
                <h2>
                    Letné osvieženie a sladká pauza
                </h2>
                <div class="redBar"> </div>
                <p>
                    Štýlová kaviareň, kde zažijete príjemné chvíle relaxu pri výbornej káve. U nás si vyberie každý malý i veľký maškrtník.
                    <br>
                    <br>
                    Presne týmto heslom sa u nás riadime. Myslíme si totiž, že lokálne suroviny a osobitný prístup k zákaznikovy by mali byť samozrejmosťou dnešnej gastronómie a preto sa stali neoddeliteľnou súčasťou našej vnútornej filozofie. 
                </p>
            </div>
        </div>
        <div class="contentPart">
            <div class="popis">
                <h2>
                    Narodeninové torty na želanie
                </h2>
                <div class="redBar"> </div>
                <p>
                    Potešte svojich blízkych tortou ktorá bude presne poľa ich predstáv. Naše šikovné cukrárky vám vykúzlia akékoľvek tvary, či postavičky. Vašej fantázii nestojí nič v ceste !
                    <br>
                    <br>
                    Stála ponuka a možnosť zostaviť si vlastnú tortu. Torty vyrábame predovšetkým smotanové, ovocné, jogurtové, tvarohové, mrazené, s mascarpone a tradičné maslové. Významnou skupinou tvoria torty na objednávku pre rôzne slávnostné príležitosti. 
                </p>
            </div>
            <div id="torty">
                <img src="/data/img/zmrzlina.jpg" alt="">
                <img src="/data/img/zmrzlina.jpg" alt="">
                <img src="/data/img/zmrzlina.jpg" alt="">
                <img src="/data/img/zmrzlina.jpg" alt="">
            </div>
            
        </div>
    </body>
</html>