<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cukraren zilina - homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/data/JQueryUI/jquery-ui.min.css">
        
        <script src="/data/JQueryUI/external/jquery/jquery.js"></script> 
        <script src="/data/JQueryUI/jquery-ui.min.js"></script>
        
        <link href="/data/css/mainpage.css" rel="stylesheet">
    </head>
    <body>
        <a href="nakup">na stranku</a>
        <div id="header">
            <div class="headLink">
                1
            </div>
            <div class="headLink">
                2
            </div>
        </div>
        <div id="content">
            
        </div>
    </body>
</html>