<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cukraren zilina - homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/data/JQueryUI/jquery-ui.min.css">
        
        <script src="/data/JQueryUI/external/jquery/jquery.js"></script> 
        <script src="/data/JQueryUI/jquery-ui.min.js"></script>
    
        <link href="/data/css/mainpage.css" rel="stylesheet">
        <script src="/data/js/mainpage.js"></script>

    </head>
    <body>
        <div id="header">
            <img id="znak" src="http://www.delikana.cz/img/logodelikananew.png" height="80px" alt="">
            <a class="headLink">
                Kontakt
            </a>
            <a href="nakup"class="headLink">
                Objednávka online
            </a>
            <div class="headButton">
                Cukráreň
            </div>
        </div>
        <div id="topImage">
            <h1>Vaša cukráreň a kaviareň v centre žiliny</h1>
        </div>
    </body>
</html>