<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("parts/head")%>
    </head>
    <body>
        <a href="/">go back</a>
        <form method="post" id="login">
            <% if(typeof err != 'undefined' && err == true){%>
                <p class="err">
                    zlé meno alebo heslo
                </p>
            <%}%>
            <input type="text" name="name" value="" placeholder="zadajte meno"><br>
            <input type="password" name="pass" value="" placeholder="zadajte heslo"><br>
            <button type="submit">prihlasit</button>
        </form>
    </body>
</html>