<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Obchod</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/data/JQueryUI/jquery-ui.min.css">

        <script src="/data/JQueryUI/external/jquery/jquery.js"></script> 
        <script src="/data/JQueryUI/jquery-ui.min.js"></script>

        <link href="/data/css/nakup.css" rel="stylesheet">
        <script src="/data/js/nakup.js"></script>
    </head>
    <body>
         <%- include("parts/nav", {'page': "nakup"})%> 
        <div class="content">
            <h1>Zákusky</h1>
            <div id="filter">
                <%pattern.category.forEach((element)=>{%>
                <div unselectable="on" class="filterOne" data-selected="false" onclick="filter(this)"><%-element%></div>
                <%});%>
            </div>
            

            <div id="list">
                <%-include("parts/kolace")%>
            </div>

            <!--<input id="date" type="date" name="date" value=""> -->
        </div>
        <%if(admin){%>
        <footer>
            <a href="/admin/logout/">logout</a>
        </footer>
        <%}%>
    </body>
</html>