<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("parts/head")%>
        <script src="/data/js/objednavka.js"></script>
    </head>
    <body>
        <%-include("parts/nav")%>
        <div class="content">
            <div id="objednavka">
                <%-include("objednavka")%>
            </div>
        </div>
    </body>
</html>