<link href="/data/css/nav.css" rel="stylesheet">
<script src="/data/js/scroll.js"></script>
<script src="/data/js/kosik.js"></script>
<%if(typeof page == "undefined") page = "";%>
<div id="header">
    <img id="znak" src="http://www.delikana.cz/img/logodelikananew.png" height="80" alt="">

    <div id="linky">
        <a href="/" class="<%-(page == 'index') ? 'headButton' : 'headLink'%>" style="grid-area: t1">
            Cukráreň
        </a>

        <a href="/nakup/" class="<%-(page == 'nakup') ? 'headButton' : 'headLink'%>" style="grid-area: t2">
            Objednávka online
        </a>
        <a href="/kontakt/" class="<%-(page == 'kontakt') ? 'headButton' : 'headLink'%>" style="grid-area: t3">
            Kontakt
        </a>

        <div id="kosik" class="headButton"style="grid-area: t4">
            <img src="/data/img/cart.svg" alt="kosik" width="27" height="27">   
            <div id="vkosiku">
                <%-include("./kosik")%>
            </div>
        </div>
    </div>
    
</div>

