@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
body{
    position: absolute;
    margin: 0px;
    font-family: Roboto;
    right: 0px;
    top: 0px;
}

/*
@media (min-width: 600px){
    #header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 80px;
        background-color: #d21722;
    }

    .headLink{
        margin: 18px;
        font-size: 22px;
        color: #fff;
        padding: 7px;
        text-decoration: none;
    }
    .headButton {
        display: inline-block;
        margin: 18px;
        font-size: 22px;
        padding: 7px;
        background: #fff;
        color: #d21722;
        border-radius: 5px;
        text-decoration: none;
    }
    .headLink:link, .headLink:visited {
        color: white;
    }
    .headButton:link, .headButton:visited {
        color: #d21722;
    }
    a:hover {
        color: black;
    }
}
@media (max-width: 600px){
    #header{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #d21722;
    }

    .headLink{
        text-align: center;
        display: block;
        margin: 18px;
        font-size: 22px;
        color: #fff;
        padding: 7px;
        text-decoration: none;
    }
    .headButton {
        display: block;
        text-align: center;
        margin: 18px;
        font-size: 22px;
        padding: 7px;
        background: #fff;
        color: #d21722;
        border-radius: 5px;
    }
    a {
        text-decoration: none;
    }
    .headLink:link, .headLink:visited {
        color: white;
    }
    .headButton:link, .headButton:visited {
        color: #d21722;
    }
    a:hover {
        color: black;
    }
    #znak{
        display: none;
        margin-left: 20px;
    }
}
@media (max-width: 670px){
    #znak{
        display: none !important;
        margin-left: 20px;
    }
}
*/

#topImage{
    height: 100vh;
    width: 100vw;
    background: url(/data/img/wallpaper.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#znak{
    margin-left: 20px;
}

#topImage h1{
    font-size: 64px;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 40vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.contentPart{
    margin-top: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}
#linky{
    display: inline-block;
}
@media(min-width: 600px){
    .contentPart:nth-of-type(odd) {
        grid-template-areas: "image popis" 
    }
    .contentPart:nth-of-type(even) {
        grid-template-areas: "popis image" 
    }
    #linky{
        float: right;
        grid-template-columns: auto auto auto;
        grid-template-areas: "t1 t2 t3";
    }
}


@media screen and (max-width: 600px){
    .contentPart{
        grid-template-columns: 100% !important;
        grid-template-areas:    "image"
                                "popis";
    }
    #topImage h1{
        font-size: 32px;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    /*
    #linky{
        width: 100%;
        grid-template-columns: 100%;
        grid-template-areas:    "t1"
                                "t2"
                                "t3";
    }*/
}

.contentPart img{
    margin: 5%;
    width: 90%;
    grid-area: image;
}

.contentPart .popis{
    width: 100%;
    grid-area: popis;
}
h2{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.redBar{
    background-color:  #f00;
    height: 6px;
    width: 84px;
}
#torty{
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
#torty img{
    width: 35%;
    height: auto;
}