@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
body{
    position: absolute;
    margin: 0px;
    font-family: Roboto;
    right: 0px;
    top: 0px;
}
#header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background-color: #d21722;
}

.headLink{
    margin: 18px;
    font-size: 22px;
    float: right;
    color: #fff;
    padding: 7px;
}
.headButton {
    margin: 18px;
    font-size: 22px;
    /*font-family: Roboto;*/
    float: right;
    padding: 7px;
    background: #fff;
    color: #d21722;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: black;
}

#topImage{
    height: 100vh;
    width: 100vw;
    background: url(/data/img/wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#znak{
    margin-left: 20px;
}

#topImage h1{
    font-size: 64px;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 40vh;
    padding-left: 25vw;
    padding-right: 25vw;
}

.contentPart{
    margin-top: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}

.contentPart img{
    margin: 5%;
    width: 90%;
}

.contentPart .popis{
    width: 100%;
}
h2{
    font-size: 3vw;
}
p{
    font-size: calc(calc(1vw + 1vh)/2 * 2);
}

.redBar{
    background-color:  #f00;
    height: 6px;
    width: 84px;
}