@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
body{
    position: absolute;
    margin: 0px;
    font-family: Roboto;
    left: 0px;
    right: 0px;
    top: 0px;
}
@media(min-width:600px){
    body{
        padding-top: 80px;
    }
}
/*

  /$$$$$$  /$$       /$$$$$$$         /$$$$$$   /$$$$$$  /$$$$$$$  /$$$$$$$$
 /$$__  $$| $$      | $$__  $$       /$$__  $$ /$$__  $$| $$__  $$| $$_____/
| $$  \ $$| $$      | $$  \ $$      | $$  \__/| $$  \ $$| $$  \ $$| $$      
| $$  | $$| $$      | $$  | $$      | $$      | $$  | $$| $$  | $$| $$$$$   
| $$  | $$| $$      | $$  | $$      | $$      | $$  | $$| $$  | $$| $$__/   
| $$  | $$| $$      | $$  | $$      | $$    $$| $$  | $$| $$  | $$| $$      
|  $$$$$$/| $$$$$$$$| $$$$$$$/      |  $$$$$$/|  $$$$$$/| $$$$$$$/| $$$$$$$$
 \______/ |________/|_______/        \______/  \______/ |_______/ |________/

*/





.kosik{
    padding: 1vw;
    padding-top: 10px;
    padding-bottom: 0px;
    position: fixed;
    top: 0px;
    right: 0;
    text-align: center;
    /*overflow: hidden;*/
    float: right;
    width: 18%;
    min-width: 180px;
}

.kosik > *:first-child {
    margin-bottom: 15px;
}

#vkosiku{
    padding: 10px;
    background-color: #ddd;
    display: none;
    
}

.addToCart{
    width: 100px;
    display: block;
    border: 2px #888 solid;
    margin: auto;
    margin-top: 5px;
}
.addToCart:hover{
    background-color: #ddd;
}
.addToCart:active{
    background-color: #aaa;
}
.order{
    text-align: center;
}

.kolacVKosiku{
    border: 2px solid #f00;
}


.animate {
    width: 20vw;
    position: fixed;
    animation: addCart 0.3s steps(10000);
    animation-iteration-count: 1;
    -webkit-transition: all 0.3s cubic-bezier(0,1,0,1);
    -moz-transition: all 0.3s cubic-bezier(0,1,0,1);
    -o-transition: all 0.3s cubic-bezier(0,1,0,1);
    -ms-transition: all 0.3s cubic-bezier(0,1,0,1);
    transition: all 0.3s cubic-bezier(0,1,0,1);
}

@keyframes addCart {
    0%  {
      opacity: 1;
      filter: alpha(opacity=100);
  }
    100% {
      opacity: 0.3;
      filter: alpha(opacity=30);
      top: -6vh;
      left: 80vw;
      transform: scale(0.05);
 }
}

#kosikIMG{
    position: relative;
    background: url(https://www.prohunter.sk/resize/e/800/800/files/ikony-ako/nakupny-kosik.png) no-repeat center center; 
    background-size: contain; 
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
    
#kosikPocet{
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 7px;
    background-color: red;
    font-size: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

#objednaj{
    margin-left: 10px;
    display: inline-block;
    background-color: #10c630;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
}

#kosikSpolu{
    margin-top: 10px;
}

.remFromCart{
    margin-left: 10px;
    display: inline-block;
    background-color: #e62030;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
}
.objednajVKosiku{
    
    margin: auto;
}
#objednavka{
    text-align: center;
}
#objednavkaSpolu{
    margin: 20px;
    padding: 20px;
    border: #888 solid 3px;
}

#login{
    /*position: absolute;*/
    text-align: center;
    margin: auto;
    margin-top: 40vh;
    padding: 40px;
    border: #aaa;
    background-color: #ccc;
}

.err{
    color: red;
}



/*



 /$$   /$$ /$$$$$$$$ /$$      /$$        /$$$$$$   /$$$$$$  /$$$$$$$  /$$$$$$$$
| $$$ | $$| $$_____/| $$  /$ | $$       /$$__  $$ /$$__  $$| $$__  $$| $$_____/
| $$$$| $$| $$      | $$ /$$$| $$      | $$  \__/| $$  \ $$| $$  \ $$| $$      
| $$ $$ $$| $$$$$   | $$/$$ $$ $$      | $$      | $$  | $$| $$  | $$| $$$$$   
| $$  $$$$| $$__/   | $$$$_  $$$$      | $$      | $$  | $$| $$  | $$| $$__/   
| $$\  $$$| $$      | $$$/ \  $$$      | $$    $$| $$  | $$| $$  | $$| $$      
| $$ \  $$| $$$$$$$$| $$/   \  $$      |  $$$$$$/|  $$$$$$/| $$$$$$$/| $$$$$$$$
|__/  \__/|________/|__/     \__/       \______/  \______/ |_______/ |________/


*/

#list{
    display: flex;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.filterOne{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 15px;
    border:  2px solid;
    border-radius: 5px;
    color: #d21722;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.filterOne[data-selected="true"]{
    background-color: #d21722;
    color: #fff;
}
#filter{
    overflow: hidden;
}
@media (min-width:600px){
    
    .filterOne{
        float: left;
    }
}

.content{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
}

.obrazok{
    width: 180px;
    height: 180px;
    margin: 9px;
    object-fit: contain;
    border: 1px #ddd solid;
}

.item{
    position: relative;
    width: 200px;
    height: 360px;
    display: inline-block;
    text-align:center;
    border: #333 1px solid;
    margin: 5px;
}
.kolacVaha{
    font-size: 14px;
    display: inline-block;
    color: #9b9b9b;
    margin: 10px;
}
.kolacCena{
    font-size: 20px;
    display: inline-block;
    color: #000;
    margin: 10px;
}
.counterHolder{
    position: relative;
    margin-left: 12px;
    width: 90px;
    display: inline-block;
    border: #ccc 2px solid;
    border-radius: 5px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.counterPlus{
    position: absolute;
    width: 9px;
    height: 25px; 
    top: 5px;
    left: 6px;
    text-align: center;
    display: inline-block;
    font-size: 18px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
div[class=counterDisplay]{
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    font-size: 14px;
    width: 42px;
    height: 14px;
    border: #eee 1px solid;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
input[class=counterDisplay]{
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    font-size: 14px;
    width: 42px;
    height: 14px;
    border: #eee 1px solid;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.counterMinus{
    position: absolute;
    width: 9px;
    height: 25px;
    right: 7px;
    text-align: center;
    display: inline-block;
    font-size: 25px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.kolacPridaj{
    width: 64px;
    display: inline-block;
    padding: 8px;
    margin: 5px;
    background-color: #d21722;
    border-radius: 5px;
    color: #FFF;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bottom{
    position: absolute;
    bottom: 5px;
}