.headLink:link, .headLink:visited {
    color: white;
}
.headButton:link, .headButton:visited {
    color: #d21722;
}
#linky a:hover{
    color: black;
}
@media (min-width: 600px){
    #header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 80px;
        background-color: #d21722;
    }

    .headLink{
        margin: 20px;
        font-size: 22px;
        /*float: right;*/
        color: #fff;
        padding: 7px;
        text-decoration: none;
    }
    .headButton {
        display: inline-block;
        margin: 20px;
        font-size: 22px;
        padding: 6.5px;
        background: #fff;
        color: #d21722;
        border-radius: 5px;
        text-decoration: none;
    }
    #linky{
        float: right;
        grid-template-columns: auto auto auto;
        grid-template-areas: "t1 t2 t3";
    }
}
@media (max-width: 600px){
    #header{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #d21722;
    }

    .headLink{
        text-align: center;
        display: block;
        margin: 18px;
        font-size: 22px;
        color: #fff;
        padding: 7px;
    }
    .headButton {
        display: block;
        text-align: center;
        margin: 18px;
        font-size: 22px;
        padding: 7px;
        background: #fff;
        color: #d21722;
        border-radius: 5px;
    }
    a {
        text-decoration: none;
    }
    #znak{
        display: none;
        margin-left: 20px;
    }
    #linky{
        width: 100%;
        grid-template-columns: 100%;
        grid-template-areas:    "t1"
                                "t2"
                                "t3";
    }
}
@media (max-width: 670px){
    #znak{
        display: none !important;
        margin-left: 20px;
    }
}

#znak{
    margin-left: 20px;
}

#linky{
    display: inline-block;
}